-
  var treatmentsItems = [
    { title: "Gesicht", img: "/assets/images/treatment_gesicht.webp", link: "projekte.html#gesicht" },
    { title: "Brust", img: "/assets/images/treatment_brust.webp", link: "projekte.html#brust" },
    { title: "Körperformung mittels Liposuktion/Lipofilling", img: "/assets/images/treatment_koerperformung.webp", link: "projekte.html#koerperformung" },
    { title: "Handchirurgie", img: "/assets/images/treatment_handchirurgie.webp", link: "projekte.html#handchirurgie" },
    { title: "Straffungsoperationen", img: "/assets/images/treatment_straffungsoperationen.webp", link: "projekte.html#straffungsoperationen" },
    { title: "Ohren", img: "/assets/images/treatment_ohren.webp", link: "projekte.html#ohren" },
    { title: "Intimchirurgie für Frauen", img: "/assets/images/treatment_intimchirurgie.webp", link: "projekte.html#intimchirurgie" },
    { title: "Behandlung von übermäßigem Schwitzen", img: "/assets/images/treatment_schwitzen.webp", link: "projekte.html#schwitzen" },
    { title: "Antiaging und minimalinvasive Verfahren", img: "/assets/images/treatment_antiaging.webp", link: "projekte.html#antiaging" },
    { title: "Gynäkomastie", img: "/assets/images/treatment_gynaekomastie.webp", link: "projekte.html#gynaekomastie" },
    { title: "Vampirlifting / PRP", img: "/assets/images/treatment_prp.webp", link: "projekte.html#prp" },
    { title: "Weiteres", img: "/assets/images/treatment_weiteres.webp", link: "projekte.html#weiteres" }
  ]

section.section.section--treatments 
  .container
    .section-header
      h2.section-header__title.section-header__title--sm(id="treatments-heading") Behandlungsspektrum

    .treatments
      ul.treatments__grid(role="list" aria-labelledby="treatments-heading")
        each item in treatmentsItems
          li.treatments__item(role="listitem")
            a.treatments__link(
              href=item.link 
              aria-label=item.title
            )
              img.treatments__image(
                src=item.img, 
                alt=`Behandlung: ${item.title}`,
                loading="lazy"
              )
              .treatments__label= item.title
